.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 10%;
  align-items: flex-start;
}

.Wrapper .header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.Wrapper .header h1 {
  font-size: 8vw;
  font-weight: 400;
}

.Wrapper .CountSet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:20px 20px;
  align-items: center;
  justify-content: center;
}

.Wrapper .CountSet > div {
  width: calc(100% / 2 - 10px);
}


.Wrapper .CountSet > div h2{
    font-size: 9vw;
    color: #C064EC;
}